body {
    min-width: 480px;
    background: #454b57;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4em;
    color: #222222;
    cursor: default;
}

.main_wrapper {
    margin: 0 auto;
    width: 480px;
    background: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

b {
    font-weight: 700;
}

.clearfix:after,
.char_list>li;

after,
.order_list:after {
    content: '';
    display: block;
    clear: both;
}

h2.title {
    font-size: 30px;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    padding: 0 10px;
    color: #3f303a;
}

h2.title span {
    color: #3ab8f9;
}

section {
    padding: 35px 0;
}


.f2-form {
    padding: 0 40px;
}

.f2-form input {
    border: none;
    width: 100%;
    display: block;
    font-family:  Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    height: 76px;
    border-radius: 2px;
    background: #fff;
    text-align: center;
    color: #222;
}

.f2-form .button-m {
    margin-top: 0;
}

.f2-form ::-webkit-input-placeholder {
    color: #222;
}

.f2-form ::-moz-placeholder {
    color: #222;
}

.f2-form :-moz-placeholder {
    color: #222;
}

.f2-form :-ms-input-placeholder {
    color: #222;
}

.f2-form :focus::-webkit-input-placeholder {
    color: transparent;
}

.f2-form :focus::-moz-placeholder {
    color: transparent;
}

.f2-form :focus:-moz-placeholder {
    color: transparent;
}

.f2-form :focus:-ms-input-placeholder {
    color: transparent;
}

/* button */
.button-m {
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    height: 82px;
    width: 400px;
    display: block;
    line-height: 80px;
    text-align: center;
    background: #ffa619;
    border-bottom: 6px solid #f48921;
    font-size: 26px;
    margin: 0px auto;
    color: #fff;
    position: relative;
    text-shadow: 0 2px 0 #f48921;
}

.button-m:active {
    background: #e89716;
    top: 2px;
}



/*  offer_section   */
.offer_section {
    background: #2e3748;
    padding: 0;
}

.main_title {
    text-transform: uppercase;
    color: #ffa619;
    font-weight: 700;
    text-align: center;
    font-size: 44px;
    line-height: 1.1em;
    padding: 15px 0 8px;
}

.main_subtitle {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.4em;
    color: #fff;
    font-weight: 400;
    text-align: center;
    padding: 0 10px 12px;
}

.offer_section .box {
    position: relative;
}

.offer_section .box>img {
    display: block;
}

.offer_section .desc {
    font-size: 23px;
    line-height: 31px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #fff;
    height: 82px;
    padding: 10px 15px 0;
    background: rgba(46, 55, 72, 0.8);
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
}

.sale {
    width: 202px;
    height: 202px;
    background: url(../images/sale.png) 50% 50% no-repeat;
    position: absolute;
    bottom: 82px;
    left: 0;
    overflow: hidden;
}

.sale p {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 2px 0 #f48921;
    width: 200px;
    text-align: center;
    position: absolute;
    left: 22px;
    padding-top: 123px;
    transform: rotate(46deg);
}

.ofr_bull {
    width: 440px;
    margin: 25px auto;
    border-bottom: 1px solid #434b5b;
}

.ofr_bull>li {
    color: #fff;
    padding-left: 44px;
    position: relative;
    margin-bottom: 25px;
}

.ofr_bull>li:before {
    content: '';
    width: 24px;
    height: 19px;
    background: url(../images/check.png) 50% 50% no-repeat;
    position: absolute;
    left: 2px;
    top: 3px;
}

.timer {
    color: #fff;
    margin-bottom: 30px;
}

.timer>p {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.timer_container {
    font-size: 0;
    text-align: center;
}

.timer_container .timer_block {
    display: inline-block;
    vertical-align: top;
    margin: 0 12px;
    position: relative;
}

.timer_block .count {
    text-align: center;
}

.timer_block .count>span {
    display: inline-block;
    margin: 0 2px;
    width: 48px;
    height: 54px;
    line-height: 54px;
    border-radius: 3px;
    background: #3ab8f9;
    font-weight: 700;
    font-size: 32px;
}

.timer_block .text {
    font-size: 14px;
    line-height: 1.1em;
    margin-top: 5px;
}

.timer_block:not(:last-child):after {
    content: ':';
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    position: absolute;
    top: 6px;
    right: -18px;
}

.price {
    font-size: 0;
    margin-bottom: 25px;
}

.price>div {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 1.1em;
}

.price div small {
    font-size: 0.6em;
}

.price .old {
    text-align: right;
    padding-right: 16px;
    color: #fff;
}

.price .old p {
    font-size: 28px;
    line-height: 32px;
}

.price .old span {
    text-decoration: line-through;
}

.price .new {
    padding-left: 16px;
}

.price .new p {
    color: #ffa619;
    font-size: 48px;
    line-height: 52px;
    font-weight: 700;
}

.prod_count {
    margin-top: 25px;
    background: #273040;
    line-height: 52px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.prod_count>span {
    display: inline-block;
    vertical-align: top;
    background: #3ab8f9;
    color: #fff;
    padding: 0 2px;
    position: relative;
    font-size: 20px;
    margin: 0 0 0 15px;
    font-weight: 700;
}

.prod_count>span:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 52px 10px;
    border-color: transparent transparent #3ab9f9 transparent;
    position: absolute;
    bottom: 0;
    left: -10px;
}

.prod_count>span:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 52px 10px 0 0;
    border-color: #3ab9f9 transparent transparent transparent;
    position: absolute;
    top: 0;
    right: -10px;
}


/*sec3*/
.sec3 .title {
    font-size: 24px;
}

.sec3 .title span {
    font-size: 30px;
    line-height: 38px;
}

.benef1 {
    font-size: 0;
    text-align: center;
}

.benef1>li {
    width: 210px;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 20px;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 0 0 35px;
}

.benef1>li>img {
    display: block;
    margin: 0 auto 10px;
}

.benef1>li>span {
    text-align: left;
    display: block;
    font-weight: 700;
    color: #3ab8f9;
    font-size: 17px;
    line-height: 1.3em;
    margin-bottom: 5px;
    padding: 0 12px;
}

.benef1>li>p {
    text-align: left;
    padding: 0 12px;
    font-size: 16px;
}

.benef1>li:after {
    content: '';
    width: 196px;
    height: 11px;
    background: url(../images/benef1_dotted.png) 0% 50% repeat-x;
    position: absolute;
    bottom: 8px;
    left: 50%;
    margin-left: -98px;
}

.benef2 {
    padding: 0 20px;
}

.benef2>li {
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    display: table;
    margin-bottom: 20px;
    padding: 10px;
}

.benef2>li .img {
    display: table-cell;
    vertical-align: middle;
    width: 192px;
}

.benef2>li .img>img {
    display: block;
}

.benef2>li .text {
    padding: 0 0 0 20px;
    font-size: 16px;
}

.benef2>li .text>span {
    font-weight: 700;
    color: #3ab8f9;
    display: block;
    font-size: 17px;
    margin-bottom: 4px;
}

.benef2>li:last-child {
    margin-bottom: 0;
}


/*sect3*/
.sect3 {
    background: #f1f1f1;
}

.sect3 .title {
    color: #2e3748;
    font-weight: 400;
}

.sect3 .title>span {
    font-weight: 700;
    color: #2e3748;
    display: block;
}

.sect3>img {
    display: block;
    margin: 0 auto 25px;
}

.sect3>p {
    text-align: center;
    padding: 0 30px;
    margin-bottom: 25px;
}

.sect3>p:last-child {
    margin-bottom: 0;
}

.sect3 .button-m {
    margin-top: 30px;
}


/*sect4*/
.sect4 {
    background: #05b7d9;
}

.sect4 .title {
    color: #fff;
    margin-bottom: 0;
    position: relative;
}

.sect4>img {
    display: block;
    margin: -10px auto -20px;
}

.p_market {
    background: #fff url(../images/p_market.png) 50% 0% no-repeat;
    width: 440px;
    margin: 0 auto;
    padding: 75px 20px 30px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
}

.p_market>p {
    margin-bottom: 25px;
}

.p_market>p:last-child {
    margin-bottom: 0;
    font-size: 16px;
}


/*sect5*/
.sect5 {
    background: #28303e url(../images/s5_bg.jpg) 50% 0% no-repeat;
    color: #fff;
}

.sect5 .title {
    text-transform: uppercase;
    color: #fcba46;
    font-weight: 400;
    font-size: 36px;
}

.sect5>img {
    display: block;
    margin: 0 auto 30px;
}

.char_list>li {
    padding: 6px 20px 6px 44px;
    font-size: 15px;
    text-align: right;
    background-image: url(../images/char_arrow.png);
    background-position: 20px 50%;
    background-repeat: no-repeat;
}

.char_list>li>b {
    float: left;
    font-weight: 400;
}

.char_list>li:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.1);
}

.char_list>li:nth-child(2n) {
    padding-top: 14px;
    padding-bottom: 14px;
}

.sect5 .button-m {
    margin-top: 35px;
}


/*sect6*/
.sect6 {
    background: url(../images/s6_bg.jpg) 50% 100% no-repeat;
    min-height: 370px;
}

.sect6 .title {
    padding: 0;
    font-size: 23px;
    font-weight: 400;
}

.sect6 .title>span {
    color: #fff;
    background: #3ab8f9;
    display: inline-block;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 5px;
    padding: 0 10px;
    font-weight: 700;
}

.sect6 .title>span:nth-of-type(2) {
    min-width: 380px;
    margin-bottom: 10px;
}


/*sect7*/
.sect7 .title {
    font-weight: 400;
    font-size: 36px;
}

.sect7>img {
    display: block;
    margin: 0 auto 30px;
}

.set_list {
    padding: 0 20px 0 30px;
}

.set_list>li {
    margin-bottom: 20px;
    position: relative;
    padding-left: 35px;
}

.set_list>li>span {
    font-size: 30px;
    line-height: 32px;
    color: #3ab8f9;
    font-weight: 700;
    margin-right: 15px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -16px;
}


/*sect8*/
.sect8 {
    background: #05b7d9;
    color: #fff;
}

.sect8 .title {
    color: #fff;
}

.order_list {
    padding: 0 20px;
}

.order_list>li {
    margin-bottom: 30px;
    font-size: 16px;
}

.order_list>li:last-child {
    margin-bottom: 0;
}

.order_list>li>img {
    float: left;
    border-radius: 50%;
}

.order_list>li .text {
    padding-left: 15px;
    overflow: hidden;
}

.order_list>li .text span {
    font-weight: 700;
    display: block;
    text-transform: uppercase;
    margin-bottom: 3px;
}


/*sect9*/
.reviews {
    padding: 0 20px;
}

.rev_item>img {
    border-radius: 5px;
    display: block;
    margin: 0 auto 30px;
}

.rev_item>span {
    font-weight: 700;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

.rev_item>p {
    text-align: center;
}

.rev_item .info {
    width: 270px;
    margin: 20px auto 0;
}

.rev_item .info>img {
    float: left;
    border-radius: 50%;
    width: auto;
}

.rev_item .info>p {
    overflow: hidden;
    padding: 5px 0 0 20px;
    font-size: 16px;
    line-height: 1.2em;
}

.rev_item .info>p>span {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}

.reviews .owl-prev,
.reviews .owl-next {
    width: 52px;
    height: 52px;
    background: #05b7d9 url(../images/rev_arrow.png) 0% 50% no-repeat;
    border-radius: 3px;
    position: absolute;
    bottom: 0;
}

.reviews .owl-prev {
    left: 20px;
}

.reviews .owl-next {
    right: 20px;
    background-position: 100% 50%;
}


/*bottom*/
.bottom .box {
    margin-bottom: 25px;
}


/* footer */
.footer_section {
    padding: 25px 0;
    background: #333f50;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
}

.footer_section img {
    display: block;
    margin: 0 auto 10px auto;
}

.footer_section a {
    color: #ffffff;
    display: block;
}